<!-- Contenedor central-->
<div class="container">
    <!-- Pelicula-->
    <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">{{pelicula.director}}</strong>
            <h3 class="mb-0">{{pelicula.nombre}}</h3>
            <div class="mb-1 text-muted">{{pelicula.anyo}}</div>
            <p class="mb-auto">{{pelicula.descripcion}}</p>
            <br>
            <button class="btn btn-info btn-sm" *ngIf="haySesion == null" [routerLink]="['/login']">Inicia sesión para agregarla a tu lista</button>
            <button class="btn btn-warning btn-sm" (click)="addFavoritas(pelicula._id)" *ngIf="(listaIdFavoritas.indexOf(pelicula._id) < 0 && (haySesion == 'true')) ">Agregar a favoritas</button>
            <button class="btn btn-success btn-sm" [routerLink]="['/login']" *ngIf="(listaIdFavoritas.indexOf(pelicula._id) >= 0 && (haySesion == 'true'))">Ya está en tu lista</button>
            <div class="mb-1 text-muted">{{pelicula.puntuacion}}/10 ⭐</div>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{pelicula.foto}}" width="400">
          </div>
        </div>
    </div>
    <!-- ./ Pelicula-->
</div>
<!-- ./ Contenedor central-->






