<!-- Contenedor central-->
<div class="container">
    <h1> 100 peliculas más votadas - <span class="small">Pagina {{paginaActual}} </span></h1>
    <hr>
    <!-- Grid donde recogeremos todas las peliculas-->
    <div class="row">
        <!-- Card con la info de la pelicula-->
        <div class="col-md-3" *ngFor="let pelicula of peliculas">
            <div class="card pelicula">
                <img src="{{url_foto}}{{pelicula.poster_path}}" class="card-img-top">
                <button class="btn btn-info btn-sm" *ngIf="haySesion == null" [routerLink]="['/login']">Inicia sesión para agregarla a tu lista</button>
                <button class="btn btn-warning btn-sm" (click)="addFavoritas(pelicula.id)" *ngIf="(listaIdFavoritas.indexOf(pelicula.id) < 0 && (haySesion == 'true'))" [routerLink]="['/perfil']">Agregar a favoritas</button>
                <button class="btn btn-success btn-sm" [routerLink]="['/perfil']" *ngIf="(listaIdFavoritas.indexOf(pelicula.id) >= 0 && (haySesion == 'true'))">Ya está en tu lista</button>
                <div class="card-body">
                  <h5 class="card-title"><a [routerLink]="['/pelicula/', pelicula.id]">{{pelicula.original_title}}</a></h5>
                         <span class="info_pelicula">{{pelicula.release_date.substring(0,4)}}</span>
                         <span class="movie_info float-right"><i class="fas fa-star"></i>{{pelicula.vote_average}} / 10 ⭐</span>
                </div>
            </div>
        </div>
        <!-- ./ Card con la info de la pelicula-->
    </div>

    <!-- Paginacion-->
    <nav>
        <ul class="pagination">
            <li class="page-item activ" *ngFor="let pagina of paginas">
                <a class="page-link" (click)="getPaginaSiguiente(pagina)" id="{{pagina}}">{{pagina}} </a>
            </li>
        </ul>
    </nav>
    <!-- ./ Paginacion-->
    
</div>
<!-- ./ Contenedor central-->




