<!-- Barra superior de navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Prueba de nivel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/top-pelis']">Top Peliculas</a>
      </li>
    </ul>
    <!--Esto cambiara dependiendo de si hay un usuario o no-->
    <span class="navbar-text" [routerLink]="['/login']" *ngIf="!haySesion">
      Iniciar sesion
    </span>
    
    <span class="navbar-text" *ngIf="haySesion">
      <a [routerLink]="['/perfil']">{{nombreUsuario}}</a> &nbsp;
      <button class="btn btn-sm btn-danger" (click)="logOut()">Cerrar sesion</button>
    </span>
  </div>
</nav>
<!-- ./ Barra superior de navegacion -->

<!-- Contenido dinamico -->
<router-outlet></router-outlet>
<!-- ./ Contenido dinamico -->


