<div class="container">
    <h3>{{usuario.nombre}}</h3>
    <hr>
    <h6>ID: {{usuario._id}}</h6>
    <h6>Pais: {{usuario.pais}}</h6>
    <hr>
    <h4>Mis peliculas favoritas</h4>
    <hr>
    <!-- Este texto se mostrara si el usuario no ha marcado ninguna pelicula como favorita-->
    <span *ngIf="peliculas.length <= 0">{{message}}</span><br>
    <img src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" draggable="false" *ngIf="!cargada">
    <!-- Este apartado se mostrará cuando el usuario tenga peliculas en favoritas-->
    <!-- Grid donde recogeremos todas las peliculas-->
    <div class="row">
        <!-- Card con la info de la pelicula-->
        <div class="col-md-3" *ngFor="let pelicula of peliculas">
            <div class="card pelicula">
                <img src="{{pelicula.foto}}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><a [routerLink]="['/pelicula/', pelicula._id]">{{pelicula.nombre}}</a></h5>
                         <span class="info_pelicula">{{pelicula.anyo.substring(0,4)}}</span>
                         <span class="movie_info float-right"><i class="fas fa-star"></i>{{pelicula.puntuacion}} / 10 ⭐</span>
                </div>
            </div>
        </div>
        <!-- ./ Card con la info de la pelicula-->
    </div>
    
</div>
 