/*Estilos para el componente "perfil"*/

/*Estos en concreto, para las tarjetas de las peliculas */
.pelicula{
    padding: 0 !important;
    width: 15rem;
    margin:14px; 
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20rem;
}
.info_pelicula{
    color: #5e5c5c;
}