<!-- Formulario de inicio de sesion-->
<div class=" container text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar sesion</h1>
        <input type="text" id="usuario" class="form-control" placeholder="Usuario" required autofocus>
        <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
        <span class="btn btn-lg btn-dark btn-block"  type="submit" (click)="logIn()">Iniciar sesion</span>
    </form>
</div>
<!-- ./ Formulario de inicio de sesion-->

